/target/
/out/
# User-specific stuff
.idea/
.idea_modules/
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.class
.DS_Store
.py
HELP.md
*.iml
*.py
application.properties